@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Vazir';
    src: url('./fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lalezar';
    src: url('./fonts/Lalezar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('./fonts/Iranian Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digi Mitra Circle Bold';
    src: url('./fonts/Digi Mitra Circle Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Digi Mitra Rectangle Bold';
    src: url('./fonts/Digi Mitra Rectangle Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* متغیرهای theme اینجا حذف شد و فقط در index.css تعریف می‌شود */
}


*{

    font-family:'Vazir';
    font-size: medium;

}


body{
    font-family: 'Vazir';
    font-size: medium;
}
